@import url('https://fonts.googleapis.com/css?family=Signika');

* {
  box-sizing: border-box;
}

html {
  background: url(seattle-skyline-darkened.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*html::after {
  content: "";
  background: #2A3344;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/

.nameplate {
  color: white;
  margin: auto;
  width: 60%;
  margin-top: 10%;
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
  font-family: 'Signika', sans-serif;
}

p {
  font-family: 'Signika', sans-serif;
  margin-bottom: 300px;
  font-size: 1.5em;
  /*-webkit-text-stroke: 1px #4C569B;*/
}

li {
  list-style: none;
  display: inline-block;
  margin: 1em;
}

ul {
  margin: 20px;
  float: right;
}



/*footer {
  background-color: #4C569B;
  color: white;
}*/

.slant {
  background-color: #4C569B;
  color: white;
  position: relative;
  height: 200px;
}

.slant:before {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 200px;
  background-color: #4C569B;
  -webkit-transform: skew(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
}

.slant:hover, .slant:before:hover {
  background-color: #464F92;
}


.white {
  color: lightgrey;
  float: left;
}

.white:hover {
  color: white;
}

@media (max-width: 800px) {
  p {
    font-size: 1.2em;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }

  .slant {
    height: 400px;
  }

}
